[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
mongodb-atlas-api = {editable = true,path = "."}
mkdocs = "*"
setuptools = "*"
pipenv = "*"
pytest = "*"

[dev-packages]
pytest = ">=3.6"

[requires]
python_version = "3.6"
